.registrPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #c5cae9;
  height: 100%;
  width: 100%;

  .mainImg {
    width: 40%;
  }
}

@media (max-height: 600px) {
  .registrPage {
    height: auto;
  }
}

@media (max-width: 770px) {
  .mainImg {
    display: none;
  }
}